<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Person.Name }}'s CV</title>
    <meta name="author" content="{{ .Person.Name }}"/>
    <meta name="description" content="{{ .Person.Name }}'s CV"/>

    <link href="/css/default.css" rel="stylesheet">

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="all"/>

    <link href='https://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      WebFontConfig = {
        google: {families: ['Passion+One:400,700:latin']}
      };
      (function () {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(window).on('load', function() {
        $('[data-github]').each(function () {
        var _this = this;
        var repo = $(_this).data('github')

        fetch('https://api.github.com/repos/' + repo).then(function (response) {
          return response.json();
        }).then(function (response) {
          $(_this).find('[data-forks]').text(response.forks);
          $(_this).find('[data-stars]').text(response.stargazers_count);
        });
      });
      // code here
      });
    </script>
  </head>

  <body>
    <div class="container">

      <div class="row header section-border">
        <div class="col-xs-3">
          {{ if .Company.Logo }}
            <img src="{{ .Company.Logo }}" class="img-responsive" alt="{{ .Company.Name }}">
          {{ end }}
        </div>

        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-10">
              <h1 class="name">{{ .Person.Name }}</h1>
              <h2 class="profession">{{ .Person.Profession }}</h2>
            </div>
            <div class="col-xs-2">
              <div class="website">{{ qrCode .Person.Site "size=5" }}</div>
            </div>
          </div>
        </div>
      </div>


      {{- if .Abstract }}
      <div class="row section section-border">
        <div class="col-xs-3">
          <h2>Abstrait</h2>
        </div>

        <div class="col-xs-9">
          {{ range .Abstract }}
          <div class="row">
            <div class="col-xs-12">
              <p>{{ . }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{- end }}

      {{- if .SocialNetworks }}
      <div class="row section section-border">
        <div class="col-xs-3">
          <h2>Réseaux sociaux</h2>
        </div>

        <div class="col-xs-9">
          {{ if .SocialNetworks.Github }}
            <div class="col-xs-3">
              <i class="fa fa-github"></i>Github<br>
              <a href="https://github.com/{{ .SocialNetworks.Github }}">{{ .SocialNetworks.Github }}</a>
            </div>
          {{ end }}

          {{ if .SocialNetworks.Stackoverflow }}
            <div class="col-xs-3">
              <i class="fa fa-github"></i>Stackoverflow<br>
              <a href="https://stackoverflow.com/users?search={{ .SocialNetworks.Stackoverflow }}">{{ .SocialNetworks.Stackoverflow }}</a>
            </div>
          {{ end }}

          {{ if .SocialNetworks.Linkedin }}
            <div class="col-xs-3">
              <i class="fa fa-github"></i>Linkedin<br>
              <a href="https://www.linkedin.com/in/{{ .SocialNetworks.Linkedin }}">{{ .SocialNetworks.Linkedin }}</a>
            </div>
          {{ end }}

          {{ if .SocialNetworks.Twitter }}
            <div class="col-xs-3">
              <i class="fa fa-github"></i>X<br>
              <a href="https://x.com/{{ .SocialNetworks.Twitter }}">{{ .SocialNetworks.Twitter }}</a>
            </div>
          {{ end }}
        </div>
      </div>
      {{- end }}


      {{- if .Career }}
      <div class="row section section-border">
        <div class="col-xs-3">
          <h2>Dernières expériences</h2>
        </div>


        <div class="col-xs-9">
          {{ range .Career }}
          <h3>
            {{ if .CompanyLogo }}
              <img src="{{ .CompanyLogo }}" alt="{{ .CompanyName }}" style="max-width: 50px; max-height: 50px;" />
            {{ end }}
            {{ .CompanyName }}
          </h3>
          <h6>
            {{ .Duration }}
          </h6>

            {{ range .Missions }}
            <div class="row">
              <div class="col-xs-6">
                  <h4><b>{{ .Position }}</b></h4>
                  <h6 class="">{{ .Dates }}, chez {{ .Company }}</h6>
              </div>
              <div class="col-xs-6 pull-right">
                <h5 class="pull-right">{{ .Dates }}<br/>
                {{ .Company }} <i>({{ .Location }})</i></h5>
              </div>
            </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><b>Mission</b> : {{ .Summary }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p><b>Client</b> : {{ .Company }}</p>
                </div>
              </div>
              {{ if .Project }}
              <div class="row">
                <div class="col-xs-12">
                  <p><b>Projet</b> : {{ .Project }}</p>
                </div>
              </div>
              {{ end }}
              <div class="row">
                <div class="col-xs-12">
                  <p><b>Technologies</b> : {{ join .Technologies ", " }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">

                {{ $length := len .Description }}{{ if gt $length 0 }}
                <b>Description :</b>
                <ul>
                  {{ range .Description }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
                {{ end }}
                </div>
              </div>
              {{ end }}
          {{ end }}
        </div>
      </div>
      {{- end }}


      {{- if .TechnicalSkills }}
      {{- $length := len .TechnicalSkills.Domains }}
      {{- if gt $length 0 }}
      <div class="row section section-border pagebreakishere">
        <div class="col-xs-3">
          <h2>Technical skills</h2>
        </div>
        <div class="col-xs-9">
          <div class="row">
            {{ range .TechnicalSkills.Domains }}
            <div class="col-xs-4">

              <h4 class="techSkillHeader"><i class="fa fa-terminal"></i> {{ .Name }}</h4>
              {{ range .Competencies }}{{ .Name }}
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{ .Level }}%"></div>
              </div>
              {{ end }}
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      {{- end }}
      {{- end }}


      {{- if .SideProjects }}
      <div class="row section">
        <div class="col-xs-3"><h2>Open Source Projects</h2></div>
          <div class="col-xs-9">
          {{ range .SideProjects }}
              <div class="github-cards col-xs-6">
              <a href="https://github.com/{{ .Link }}" class="github-card" data-github="{{ .Link }}">
                  <h3>{{ .Name }}</h3>
                  <p>{{ .Description }}</p>
                  <h5><i>As a {{ .Position }}</i></h5>
                  <span class="github-card__meta">
                  <span class="github-card__language-icon" style="color: #{{ .Color }};">●</span> {{ .Langs }}
                  </span>
                  <span class="github-card__meta">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span data-stars>
                      <i class="fa fa-spinner" aria-hidden="true"></i>
                  </span>
                  </span>
                  <span class="github-card__meta">
                  <i class="fa fa-code-fork" aria-hidden="true"></i>
                  <span data-forks>
                      <i class="fa fa-spinner" aria-hidden="true"></i>
                  </span>
                  </span>
              </a>

              </div>
          {{ end }}
          </div>
      </div>
      {{- end }}


      {{- if .Certifications }}
      <div class="row section">
        <div class="col-xs-3"><h2>Certifications</h2></div>
          <div class="col-xs-9">
            {{ range .Certifications }}
              <div class="row">
                <div class="col-xs-6" style="padding-top: 5px; padding-bottom: 5px;">
                  <a href="{{ .Link }}"><img style="height: 90px;display: inline-block;vertical-align: middle;"
                                              src="{{ .Badge }}"></a>
                  <div style="display: inline-block; vertical-align: middle;">
                  <div><b>{{ .CompanyName }}</b></div>
                  <div><b>{{ .CertificationName }}</b></div>
                  <div>{{ .Issuer }}</div>
                  <div>{{ .Date }}</div>
                  </div>
                </div>
              </div>
          {{ end }}
          </div>
      </div>
      {{- end }}

      {{- if .Education }}
      <div class="row section">
        <div class="col-xs-3"><h2>Formation</h2></div>

        <div class="col-xs-9">
          {{ range .Education }}
            <div class="row">
              <div class="col-xs-12">
                <h3>
                  {{ if .SchoolLogo }}
                    <img src="{{ .SchoolLogo }}" alt="{{ .SchoolName }}" style="max-width: 50px; max-height: 50px;">
                  {{ end }}
                  {{ .SchoolName }}
                </h3>
              </div>
              <div class="col-xs-12"><b>{{ .Degree }}</b></></div>
              <div class="col-xs-12">{{ .SchoolName }}, <i class="fa fa-graduation-cap">{{ .Location }}</i></div>
              <div class="col-xs-12">{{ .Dates }}</div>
              <div class="col-xs-12"><a href="{{ .Link }}">{{ .Link }}</a></div>
            </div>
          {{ end }}
        </div>
      </div>
      {{- end }}

    </div>
  </body>

</html>
